@font-face {
  font-family: "Pilowlava";
  src: url('./assets/fonts/Pilowlava-Regular.woff');
}
@font-face {
  font-family: "HappyItal";
  src: url("./assets/fonts/happy-times-NG_italic_master_web.woff");
}

@font-face {
  font-family: "HappyReg";
  src: url("./assets/fonts/happy-times-NG_regular_master_web.woff");
}

textarea::-webkit-input-placeholder {
  color: white;
}

textarea:-moz-placeholder { /* Firefox 18- */
  color: white;
}

textarea::-moz-placeholder {  /* Firefox 19+ */
  color: white;
}

textarea:-ms-input-placeholder {
  color: white;
}
textarea::placeholder {
  color: white; 
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "HappyItal","Arial", Courier, monospace;
  background-color: black;
}

h1 {
  text-align: center;
  font-family: "HappyItal", Courier, monospace;
  font-size: 5vw;
  color: white;
}

textarea {
  width: 100%;
  height: 100%;
}

#textInput {
  text-align: center;
  border: none;
  color: white;
  font-size: 4vw;
  outline: none;
  text-transform: uppercase;
  width: 80vw;
  height: 80%;
}

textarea {
  color: white;
}

.morseoutput {
  overflow: scroll;
  font-family: "Pilowlava";
  font-size: 5vw;
  color: white;
  letter-spacing: 10px;

  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
  text-align: center;
}

.output {
  word-wrap: break-word;
  text-align: center;
  max-width: 90%;
  font-size: 5vw;
  font-family: "Pilowlava";

}

.morsecontainer {
  overflow-y: scroll;
  word-wrap: break-word;
}

.centerline {
  display: grid;
  grid-template-columns: 4fr 1fr 2fr 1fr 4fr;
  grid-template-rows: 1fr;
  align-items: center;
  width: 100vw;
}

.line {
  background-color: white;
  height: 1px;
  width: 100%;
}

.linetop {
  background-color: white;
  height: 1px;
  width: 100%;
  margin-top: 10px;;
}

.topline {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  & > h1 {
    

  }
}


.svgbox > svg {
  background: transparent;
  width: 100%;
  height: auto;
}

.maincont {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:0.0001fr 1fr 0.0001fr 4fr 0.5fr 4fr;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.textinput {
  display: flex;
  justify-content: center;
  align-items: center;
}